# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
*.local


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
3-column-preview-card-component-main/style-guide.md
3-column-preview-card-component-main/design/active-states.jpg
3-column-preview-card-component-main/design/desktop-design.jpg
3-column-preview-card-component-main/.gitignore
3-column-preview-card-component-main/index.html
3-column-preview-card-component-main/README-template.md
3-column-preview-card-component-main/README.md
3-column-preview-card-component-main/design/desktop-preview.jpg
3-column-preview-card-component-main/design/mobile-design.jpg
src/desktop-design.jpg
src/mobile-design.jpg
3-column-preview-card-component-main/images/favicon-32x32.png
3-column-preview-card-component-main/images/icon-luxury.svg
3-column-preview-card-component-main/images/icon-sedans.svg
3-column-preview-card-component-main/images/icon-suvs.svg
src/Commentary.txt
src/assets/react.svg
src/assets/images/favicon-32x32.png
