@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
*, *::before, *::after {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  align-items: center;

  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
  
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --white: hsl(0, 0%, 95%);
  --orange: hsl(31, 77%, 52%);
  --cyan: hsl(184, 100%, 22%);
  --dark-cyan: hsl(179, 100%, 13%);
  background-color: var(--white);
}


.app {
  --corner-curve: 8px;
  border-radius: var(--corner-curve);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 1;
}

h1 {
  visibility: hidden;
  width: 0;
}

.vehicle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 3rem;
  gap: 1rem;
  height: fit-content;

  flex: 0 1 210px;
}

.vehicle img {
  width: 4rem;
}

.vehicle h2 {
  font-family: 'Big Shoulders Display', cursive;  text-transform: uppercase;
  font-size: 2.5rem;
  color: var(--white);
  padding: .7rem 0 .1rem 0;
}

.vehicle p {
  color: var(--transparent-white);
  padding-bottom: .5rem;
  line-height: 1.55rem;
}

.vehicle button {
  border: 1px solid var(--white);
  background-color: var(--white);
  width: fit-content;
  border-radius: 2rem;
  padding: .9rem 2rem;
  font-size: .9rem;
  letter-spacing: .3px;
  cursor: pointer;
}

.sedans {
  background-color: var(--orange);
}

.sedans button {
  color: var(--orange);
} 

.suvs {
  background-color: var(--cyan);
}

.suvs button {
  color: var(--cyan);
} 

.luxury {
  background-color: var(--dark-cyan);
}

.luxury button {
  color: var(--dark-cyan);
} 

.vehicle button:hover {
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
}

.vehicle.sedans {
  border-radius:  var(--corner-curve) var(--corner-curve) 0 0;
}
.vehicle.luxury {
  border-radius: 0 0 var(--corner-curve) var(--corner-curve);
}

@media(min-width: 611px) {
  .vehicle.sedans {
    border-radius: var(--corner-curve) 0 0 var(--corner-curve);
  }
  .vehicle.suvs {
    border-radius: 0 var(--corner-curve) var(--corner-curve) 0;
  }
  .vehicle.luxury {
    border-radius:  0 0 var(--corner-curve) var(--corner-curve);
  }
} 

@media(min-width: 935px) {

  .vehicle {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 1.1rem;
    height: fit-content;
    justify-content: flex-start;
  }


  .vehicle.sedans {
    border-radius: var(--corner-curve) 0 0 var(--corner-curve);
  }
  .vehicle.suvs {
    border-radius: 0 0 0 0;
  }
  .vehicle.luxury {
    border-radius: 0 var(--corner-curve) var(--corner-curve) 0;
  }

  .vehicle p {
    padding-bottom: 4.2rem;
  }

  .vehicle button {
    padding: 0.8rem 0;
    width: 70%;
  }
}

